{% extends "layouts/base.html" %}
{% load i18n %}

{% block title %}
{% trans "New Event" %}
{% endblock %}

{% block content %}
<h1>{% trans "Create New Event" %}</h1>
<br/><br/>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body card-block">
                <div class="form-group">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.media }}
                        {{ form.as_p }}
                        <button class="btn btn-warning">{% trans "Save" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}